<div class="container">
    <a class="btn btn-primary mb-2" href="orders/add-order" role="button">Add order</a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Product name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order date</th>
            <th scope="col">Customer id</th>
            <th scope="col">Discount amount</th>
            <th scope="col">Total amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.orderNumber}}</th>
            <td>{{ order.productName }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.orderDate | date:'shortDate' }}</td>
            <td>{{ order.customerId }}</td>
            <td>{{ order.discountAmount | currency }}</td>
            <td>{{ order.totalAmount | currency }}</td>
          </tr>
        </tbody>
      </table>
</div>

<!-- 
    private Long orderNumber;
    private String productName;
    private int quantity;
    private Date orderDate;
    private Long customerId;
    private Double discountAmount;
    private Double totalAmount;
-->